body{
    background-image: url("funwithtriangle.jpg");
}
.container{
    text-align: center;
    margin: auto;
    border: solid 2px;
    border-radius: 0.5rem;
    display: block;
    width: 75%;
    margin-top: 4%;
    background:rgba(181, 211, 181, 0.747)
    /* margin-top: 1rem; */
    
}
#check{
    display: block;
    width: auto;
    margin: auto;
    margin-top: 1rem;
    border: solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
#output{
    margin-bottom: 1rem;
    font-size: larger;
}
.navigation{
    background-color: rgb(191, 216, 193);
    padding: 0.75rem;
    border-bottom-left-radius: 0.5rem;
}
.navigationlink{
    text-decoration: none;
    color: black;
}
.listitem{
    list-style: none;
    display: inline;
    margin: 1rem;
    text-align: right;
}
.unorderedlist{
    text-align: right;
    font-size: large;
}
label{
    text-align: center;
    font-size: larger;
    display: block;
}
.sidesofsquare{
    margin: auto;
    width: 50%;
}